.image-heading {
    width: 100%;
    background: $white;
    height: 250px;
    background-image: url(https://picsum.photos/400/200?grayscale);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    //padding-top: 56.25%;
        // 4:3 = 75%
        // 3:2 = 66.6%
        // 16:9 = 56.25%
    //position: relative;

    .image-heading-title {
        text-align: center;
        color: $black-two;
        padding-top: 2rem;
        font-weight: bold;
        font-size: 2rem;
    }
}

.compro-section {
    text-align: center;
    max-width: 500px;
    p {
        font-size: 1.3rem;
        margin: 1em 0;
    }

    + .compro-section {
        margin: 6rem auto;
    }
}

.image-container {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    // 4:3 = 75%
    // 3:2 = 66.6%
    // 16:9 = 56.25%
    position: relative;
}

.bg-white {
    background: $white-two;
}

.pt-2rem {
    padding-top: 2rem;
}

.pb-2rem {
    padding-bottom: 2rem;
}

.font-black {
    color: $black !important;

    &::after {
        border-bottom: 1px solid $black !important;
    }
}

.detail-content {
    background: $white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: $black-two;
        
    .detail-content-title {
        text-transform: uppercase;
        font-weight: bold;
    }

    p + p {
        margin: .5em 0;
    }
}