.product-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    > div {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        cursor: pointer;
        // background-image: url("../image/image-3.jpg");
        // object-fit: cover;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            position: absolute;
        }
    }
}


// .gallery {
//     display: flex;
//     flex-wrap: wrap;
//     padding-bottom: 3rem;
// }

// .gallery-item {
//     margin: 0;
//     color: #f2f;
//     cursor: pointer;
//     width: 100%;
// }

// .gallery-image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .gallery {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//     grid-gap: 30px;
// }
// ------------------------------------

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

// img {
//     display: block;
// }

// .container {
//     max-width: 93.5rem;
//     margin: 0 auto;
//     padding: 0 2rem;
// }


/* Profile Section */


/* Gallery Section */

// .gallery {
//     display: flex;
//     flex-wrap: wrap;
//     margin: -1rem -1rem;
//     padding-bottom: 3rem;
// }

// .gallery-item {
//     position: relative;
//     margin: 1rem;
//     color: #fff;
//     cursor: pointer;
// }

// .gallery-item:hover .gallery-item-info,
// .gallery-item:focus .gallery-item-info {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.3);
// }

// .gallery-item-info {
//     display: none;
// }

// .gallery-item-info li {
//     display: inline-block;
//     font-size: 1.7rem;
//     font-weight: 600;
// }

// .gallery-item-likes {
//     margin-right: 2.2rem;
// }

// .gallery-item-type {
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
//     font-size: 2.5rem;
//     text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
// }

// .fa-clone,
// .fa-comment {
//     transform: rotateY(180deg);
// }

// .gallery-image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// /* Loader */

// .loader {
//     width: 5rem;
//     height: 5rem;
//     border: 0.6rem solid #999;
//     border-bottom-color: transparent;
//     border-radius: 50%;
//     margin: 0 auto;
//     animation: loader 500ms linear infinite;
// }

// /* Media Query */

// /* Spinner Animation */

// @keyframes loader {
//     to {
//         transform: rotate(360deg);
//     }
// }

// /*

// The following code will only run if your browser supports CSS grid.

// Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

// */

// @supports (display: grid) {
//     .profile {
//         display: grid;
//         grid-template-columns: 1fr 2fr;
//         grid-template-rows: repeat(3, auto);
//         grid-column-gap: 3rem;
//         align-items: center;
//     }

//     .profile-image {
//         grid-row: 1 / -1;
//     }

//     .gallery {
//         display: grid;
//         grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
//         grid-gap: 2rem;
//     }

//     .profile-image,
//     .profile-user-settings,
//     .profile-stats,
//     .profile-bio,
//     .gallery-item,
//     .gallery {
//         width: auto;
//         margin: 0;
//     }

  
// }
