.slick-list {
    padding-bottom: 20px !important;
}

.slick-prev,
.slick-next {
    //position: absolute;
    //top: 50%;
    //display: block;

    // width: 20px;
    // height: 20px;
    // padding: 0;
    // -webkit-transform: translate(0, -50%);
    // /-ms-transform: translate(0, -50%);
    // transform: translate(0, -50%);

    cursor: pointer;

    // color: transparent;
    border: none;
    outline: none;
    background: yellow;
    display: none !important;
}

.slick-dots li {
    width: 10px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
}