.image-container {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding-top: 66.6%;
    // 4:3 = 75%
    // 3:2 = 66.6%
    // 16:9 = 56.25%
    position: relative;
}

.bg-white {
    background: $white-two;
}

.font-black {
    color: $black !important;

    &::after {
        border-bottom: 1px solid $black !important;
    }
}

.detail-content {
    background: $white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: $black-two;
        
    .detail-content-title {
        text-transform: uppercase;
        font-weight: bold;
    }

    p + p {
        margin: .5em 0;
    }
}