footer {
    background: #414141;
    color: #fff;
    font-size: $font-medium;
    bottom: 0;
    width: 100%;
    grid-area: footer;
    line-height: 1.5;
}

.footer-wrapper {
    padding: 40px 60px;
}

.footer-side--two {
    ul {
        list-style: none;
        display: flex;
        li a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        li + li {
            margin: 5px 0;
        }
    }
}

.footer-side--three {
    text-align: center;
}

.footer-side {
    //text-align: center;
    .footer-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 16px;

        img {
            height: 20px;
        }
    }

    p {
        font-size: $font-medium;
        font-weight: 500;
    }
}

.footer-contact-container {
    a {
        text-decoration: none;
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    div + div {
        margin: 5px 0;
    }

    img.contact-icon {
        height: 35px;
        width: auto;
    }
}