.home-carousel-container-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // width: 100%;
    min-height: 300px;
    //padding: 56.25% 0 0 0;
    // 4:3 = 75%
    // 3:2 = 66.6%
    // 16:9 = 56.25%
    //position: relative;
    text-align: center;
}

.banner-left-container {
    width: 100%;
    height: 100%;
    height: auto;
    display: inline-block;

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
        //max-height: 100vh;
    }
}

.banner-right-container {
    text-align: center;
    max-width: 400px;
    position: relative;
    top: 60%;
    transform: translate(0, -50%);

    h1,
    h2 {
        font-size: 3rem;
        font-weight: bold;
        //color: $dark-slate-blue;
        color: #3e61dc;
        text-transform: uppercase;
        text-align: left;
    }

    h2 {
        font-size: 2rem;
    }

    h1+h2 {
        margin-top: -10px;
    }

    h2+p {
        margin-top: 13px;
        padding-bottom: 2rem;
    }

    p {
        font-size: 14px;
        font-weight: 500px;
        line-height: 1.52;
        color: #353535;
        max-width: 400px;
        text-align: left;
    }
}