.portfolio-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);

  .modal-content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;

    .prev-button,
    .next-button {
      position: absolute;
      color: $dark-slate-blue;
      background-color: ivory;
      z-index: 1;
      transition: all .2;

      &:hover {
        color: white;
        background-color: $dark-slate-blue;
        transition: all .2;
      }
    }

    .prev-button {
      top: 50%;
      left: 0;
    }

    .next-button {
      top: 50%;
      right: 0;
    }

    img {
      display: block;
      max-width: 80%;
      max-height: 80%;
      margin: auto auto;
      box-shadow: 3px 5px 7px rgba(0, 0, 0, .5);
    }

    .thumbnails {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      bottom: 0;
      width: 70%;
      height: 80px;
      padding: 0 1em;
      overflow: auto;

      // Scrollbar
      $foreground-color: rgb(59, 60, 65);
      $background-color: mix($foreground-color, white, 40%);

      /* width */
      &::-webkit-scrollbar {
        height: .5em;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $background-color;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $foreground-color;
      }

      img {
        margin: auto 0;
        margin-right: 1em;
        opacity: .5;
        border: 3px solid transparent;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          opacity: 1;
          transition: all .2s;
        }

        &.active {
          border: 3px solid rgba(0, 0, 0, 0.621);
          opacity: 1;
          transition: all .2s;
        }
      }
    }

    .portfolio-pagination {
      position: absolute;
      top: 0;
      margin: 1.5em 0 0 0;
      color: white;
      font-size: 1.2rem;

      .index-portfolio {
        display: inline-block;
        width: 26px;
        text-align: center;
        color: black;
        font-weight: bold;
        margin: 0 .5em;
        padding: .3em;
        background-color: white;
        border-radius: 5px;
        opacity: .5;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          opacity: .8;
          transition: all .2s;
        }

        &.active {
          color: white;
          background-color: $dark-slate-blue;
          transition: all .2s;
          opacity: 1;
        }
      }
    }
  }
}