.a-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 66.6%;
    position: relative;  
    margin-bottom: 13px;
}

.a-title {
    font-weight: bold;
    color:$dark-slate-blue;
    font-size: 16px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.a-link {
    font-size: 12px;
    color: $black;

    &:hover {
        cursor: pointer;
        color: $dark-grey-blue;

    }
}

div.a-content {
    $font-size: 13px;
    $line-height: 1.4;
    $lines-to-show: 3;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    // max-width: 400px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 10px auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}