// /*------------------------------------------
//   Responsive Grid Media Queries - 1280, 1024, 768, 480
//    1280-1024   - desktop (default grid)
//    1024-768    - tablet landscape
//    768-480     - tablet 
//    480-less    - phone landscape & smaller
// --------------------------------------------*/
// @media all and (min-width: 1024px) and (max-width: 1280px) { }

// @media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 300px) and (max-width: 960px) {
  .web-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media all and (min-width: 300px) and (max-width: 768px) {

  // For services page
  #content.services-content {
    .services-section {
      .left-text-wrapper {
        .MuiTypography-root.services-section-subtitle {
          text-align: center;
        }
      }

      .why-content {
        .reason-effects {
          .services-section-subtitle {
            width: 80%;
          }
        }
      }
    }
  }
}

@media all and (min-width: 300px) and (max-width: 614px) {

  .header-wrapper {
    padding: 0 3rem;
  }

  .logo-wrapper {
    a img {
      max-width: 125px;
      height: auto;
    }
  }

  .banner-right-container {
    text-align: center;
    max-width: 614px;

    h1 {
      font-size: 2rem;
      text-align: center;
      padding-bottom: 8px;
    }

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      text-align: center;
      max-width: 300px;
      width: 100%;
      margin: auto;
    }

    .banner-button-container {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }
  }

  section {
    width: 90%;

    .section-title {
      font-size: 1.8rem;
      margin-bottom: 2.5rem;

      &::after {
        padding-top: 10px;
      }
    }

    .home-gallery-container {
      grid-gap: 20px;

      a:nth-child(1) {
        grid-column: 1/span 12;
      }

      a:nth-child(2) {
        grid-column: 1/span 12;
      }

      a:nth-child(3) {
        grid-column: 1/span 12;
      }

      a:nth-child(4) {
        grid-column: 1/span 12;
      }

      a:nth-child(5) {
        grid-column: 1/span 12;
      }
    }
  }

  .xs-w-90 {
    width: 90%;
  }

  .footer-wrapper {
    text-align: center;

    .MuiGrid-spacing-xs-2>.MuiGrid-item {
      padding: 1.3rem;
    }
  }

  .product-container {
    grid-template-columns: 1fr;
  }

  .width--large {
    width: 90%;
  }

  // For Services Page
  .page-header-container {
    padding: 1em .5em;

    .title-wrapper {
      width: 95%;
      padding: 5em 2em;

      .header-title {
        font-size: 5rem;
      }
    }
  }

  #content.services-content {
    .services-section {
      .why-content {

        .reason-points {
          text-align: center;
        }

        .reason-effects {
          .services-section-subtitle {
            width: 90%;
          }
        }
      }
    }
  }

}

@media all and (max-width: 480px) {
  #content.services-content {
    .services-section {
      width: 90%;

      &.collaboration-section {
        .collaboration-content {
          width: 80%;
          margin: 2em auto;
        }

        hr {
          width: 90%;
        }
      }
    }
  }
}

// /*------------------------------------------
//   Foundation Media Queries 
//    http://foundation.zurb.com/docs/media-queries.html
// --------------------------------------------*/

// /* Small screens - MOBILE */
// @media only screen { } /* Define mobile styles - Mobile First */

// @media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// /* Medium screens - TABLET */
// @media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

// @media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// /* Large screens - DESKTOP */
// @media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

// @media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// /* XLarge screens */
// @media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

// @media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// /* XXLarge screens */
// @media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

// /*------------------------------------------*/



// /* Portrait */
// @media screen and (orientation:portrait) { /* Portrait styles here */ }
// /* Landscape */
// @media screen and (orientation:landscape) { /* Landscape styles here */ }


// /* CSS for iPhone, iPad, and Retina Displays */

// /* Non-Retina */
// @media screen and (-webkit-max-device-pixel-ratio: 1) {
// }

// /* Retina */
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
// only screen and (-o-min-device-pixel-ratio: 3/2),
// only screen and (min--moz-device-pixel-ratio: 1.5),
// only screen and (min-device-pixel-ratio: 1.5) {
// }

// /* iPhone Portrait */
// @media screen and (max-device-width: 480px) and (orientation:portrait) {
// } 

// /* iPhone Landscape */
// @media screen and (max-device-width: 480px) and (orientation:landscape) {
// }

// /* iPad Portrait */
// @media screen and (min-device-width: 481px) and (orientation:portrait) {
// }

// /* iPad Landscape */
// @media screen and (min-device-width: 481px) and (orientation:landscape) {
// }

// <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />


// /*------------------------------------------
//   Live demo samples
//    - http://andrelion.github.io/mediaquery/livedemo.html
// --------------------------------------------*/