#content.services-content {
  padding-top: 0;

  .services-section {
    width: 85%;
    padding-top: 4em;

    .services-section-title {
      font-size: 3rem;
      font-weight: bold;
      color: #000000;
    }

    .services-mini-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .services-section-subtitle {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: .5em;

      span {
        font-weight: bold;
      }
    }

    hr {
      border: none;
      height: 3px;
      color: #333;
      background-color: #333;
      margin-top: 6em;
    }

    // Bagaimana Cara Kerjanya?
    .howto-content {
      margin-top: 6em;

      .left-text-wrapper {
        margin: 0 2em;
      }

      .right-image-wrapper {
        img {
          width: 100%;
        }
      }

      .howto-button-wrapper {
        width: 100%;
        text-align: center;

        button {
          font-weight: bold;
          margin-top: 5em;
          padding: 1em 3em;
          border: 1px solid transparent;
          transition: .2s;

          &:hover {
            color: $dark-grey-blue;
            background-color: white;
            border: 1px solid $dark-grey-blue;
            transition: .2s;
          }
        }
      }
    }

    // Mengapa Loakarya?
    .why-content {
      width: 90%;
      margin: 5em auto;

      .reason-points {
        .services-section-subtitle {
          width: 100%;
        }
      }

      .reason-effects {
        margin-top: 4em;

        .services-section-subtitle {
          width: 70%;
          margin: 2em auto;
          padding: 1em;
          color: $dark-slate-blue;
          font-size: bold;
          border-color: $dark-slate-blue;
          border-radius: 8px;

          &:hover {
            background-color: $dark-slate-blue;
            color: white;
            border-color: white;
            cursor: default;
          }
        }
      }
    }

    // Kolaborasi Bersama
    &.collaboration-section {
      width: 100%;

      .collaboration-header {
        background-image: url(../image/services-2.svg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;

        .collaboration-header-text {
          text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }
      }

      .collaboration-content {
        width: 70%;
        margin: 2em auto;
      }

      hr {
        width: 85%;
        margin: 6em auto;
      }
    }
  }
}