@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// @import "./variables";
@import 'variables';


// $font-style-1: 'Montserrat',
// sans-serif;
// $font-style-2: 'Raleway',
// sans-serif;
// $font-style-3: 'Roboto',
// sans-serif;
// $font-medium: 12px;

// // colors
// $dark-slate-blue: #3e61dc;
// $dark-grey-blue: #45C875;
// $black: #353535;
// $black-two: #292929;
// $black-25: rgba(0, 0, 0, 0.25);
// $white: #ffffff;
// $white-two: #efefef;
// $white-69: rgba(246, 241, 241, 0.69);
// $warm-grey: #828282;
// $greyish-brown: #414141;
// $greyish-brown-two: #494949;
// $greyish-brown-three: #635959;
// $macaroni-and-cheese: #f2b32b;
// $pinkish-red: #ea2335;

* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 12px;
  color: $greyish-brown;
  font-family: $font-style-1;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #fff;
}

#main {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 0px;
  grid-template-areas:
    "bar"
    "header"
    "content"
    "footer";
}

#content {
  grid-area: content;
  padding-top: 3rem;
  padding-bottom: 5rem;
  overflow-x: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.grid-6 {
  grid-column: span 6;
}

.grid-7 {
  grid-column: span 7;
}

.grid-8 {
  grid-column: span 8;
}

.grid-9 {
  grid-column: span 9;
}

.grid-10 {
  grid-column: span 10;
}

.grid-11 {
  grid-column: span 11;
}

@media (max-width: 800px) {
  [class*="grid-"] {
    grid-column: span 12;
  }
}

.text--center {
  text-align: center;
}

.width--large {
  width: 80%;
  margin: 2rem auto;
}

.width--large70 {
  width: 70%;
  margin: 2rem auto;
}

.item-container {
  height: auto;
}

.btn {
  background: none;
  outline: none;
  border: none;
  font-family: $font-style-1;
}

.btn-secondary {
  padding: 10px 30px;
  background: $white-two;
  color: $dark-slate-blue;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.btn-secondary--active {
  background: $dark-grey-blue;
  color: $white;
}

.width--full {
  width: 100%;
}

.width--medium {
  width: calc(100% - 30px);
  max-width: 480px;
  margin: auto;
}

.bg-shadow {
  box-shadow: 0 0 16px 0 #dadada;
}

.container {
  padding: 3rem 40px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.pt-2rem {
  padding-top: 2rem;
}


.pb-2rem {
  padding-bottom: 2rem;
}

.link {
  color: $dark-slate-blue;
  font-weight: bold;
}

.bg--white-three {
  background: $white-69;
}

.bg--white-two {
  background: $white-two;
}

.bg--white {
  background: $white;
}

.height--large {
  height: 100vh;
  max-height: 460px;
  vertical-align: center;
}

hr.border {
  border: none;
  border-top: 1px solid $white-two;
  outline: none;
}

.border-style-1 {
  width: 70%;
  margin: 0 auto;
}

// home
section {
  //text-align: center;
  //align-items: center;
  width: 80%;
  margin: 4rem auto;

  .section-title {
    text-transform: uppercase;
    color: $dark-slate-blue;
    font-family: $font-style-1;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 auto 4rem auto;
    text-align: center;
    width: fit-content;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 50%;
      padding-top: 15px;
      border-bottom: 1px solid $dark-grey-blue;
    }
  }

}

.home-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;

  .home-gallery {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // width: 100%;
    // height: 100%;
    padding-top: 66.6%;
    // 4:3 = 75%
    // 3:2 = 66.6%
    // 16:9 = 56.25%
    position: relative;
  }

  a:nth-child(1) {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    display: inherit;
  }

  // .home-gallery--span {

  // }
}

.testimoni-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  align-items: flex-start;
  color: $white;
  margin: 8rem 0;

  .section-title {
    text-transform: uppercase;
    color: $white;
    font-family: $font-style-1;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 4rem 0;
    width: fit-content;


    &::after {
      content: "";
      display: block;
      margin: 0;
      width: 50%;
      padding-top: 15px;
      border-bottom: 1px solid $white;
    }
  }
}

.black-opacity {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
}

.w-80 {
  width: 80%;
  margin: 2rem auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.slider-testimoni {
  display: inline-flex;
  flex-wrap: wrap;

  >.testimoni {
    margin-right: 32px;
  }
}

.testimoni {
  // width: auto;
  // max-width: 45%;
  border: solid 2px $white;
  padding: 2.5rem;
  // display: grid;

  .head-testimoni {
    font-family: $font-style-1;
    font-size: 1.65rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content-testimoni {
    margin-bottom: 10px;
  }

  .source-testimoni {
    font-weight: bold;
    text-align: right;

    &::before {
      content: '—';
      color: $white;
    }
  }
}

.box-container {

  .box {
    background-color: $white-69;
    text-align: center;
    // padding: 28px 17px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;

    img {
      width: auto;
      max-height: 80px;
    }

    .box-title {
      color: $white;
      font-weight: 600;
      font-size: 1.5rem;
      padding: 30% 17px .5em 17px;
    }

    .box-content {
      color: $white;
      font-size: 12px;
      line-height: 1.36;
      font-weight: 500;
      padding: 0 17px 10px 17px;
    }
  }
}

.home-carousel-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  padding-bottom: 2rem;
  overflow-x: hidden;
  //background-color: khaki;
}

.font-color-primary {
  color: $dark-slate-blue;
}

.font-color-secondary {
  color: $dark-grey-blue;
}

.vertical--center {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, 0%);
}

// @import 'variables';
@import 'products';
@import 'detail';
@import 'about';
@import 'faq';
@import 'contact';
@import 'services';
@import '../components/Footer/Footer';
@import '../components/Header/Header';
@import '../components/HeaderBar/HeaderBar';
@import '../components/TextInput/TextInput';
@import '../components/Card/Card';
@import '../components/Accordion/Accordion';
@import '../components/PageHeader/PageHeader';
@import '../components/PortfolioModal/PortfolioModal';
@import 'queries';