@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 12px;
  color: #414141;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

#main {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
  grid-gap: 0px;
      grid-template-areas: "bar" "header" "content" "footer";
}

#content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] 1fr)[12];
      grid-template-columns: repeat(12, [col] 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.grid-6 {
  grid-column: span 6;
}

.grid-7 {
  grid-column: span 7;
}

.grid-8 {
  grid-column: span 8;
}

.grid-9 {
  grid-column: span 9;
}

.grid-10 {
  grid-column: span 10;
}

.grid-11 {
  grid-column: span 11;
}

@media (max-width: 800px) {
  [class*="grid-"] {
    grid-column: span 12;
  }
}

.text--center {
  text-align: center;
}

.width--large {
  width: 80%;
  margin: 2rem auto;
}

.item-container {
  height: auto;
}

.btn {
  background: none;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.btn-secondary {
  padding: 10px 30px;
  background: #efefef;
  color: #3e61dc;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.btn-secondary--active {
  background: #45C875;
  color: #ffffff;
}

.width--full {
  width: 100%;
}

.width--medium {
  width: calc(100% - 30px);
  max-width: 480px;
  margin: auto;
}

.bg-shadow {
  -webkit-box-shadow: 0 0 16px 0 #dadada;
          box-shadow: 0 0 16px 0 #dadada;
}

.container {
  padding: 3rem 40px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.pt-2rem {
  padding-top: 2rem;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.link {
  color: #3e61dc;
  font-weight: bold;
}

.bg--white-two {
  background: #efefef;
}

.bg--white {
  background: #ffffff;
}

.height--large {
  height: 100vh;
  max-height: 460px;
  vertical-align: center;
}

hr.border {
  border: none;
  border-top: 1px solid #efefef;
  outline: none;
}

.border-style-1 {
  width: 70%;
  margin: 0 auto;
}

section {
  width: 80%;
  margin: 4rem auto;
}

section .section-title {
  text-transform: uppercase;
  color: #3e61dc;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 auto 4rem auto;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section .section-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 15px;
  border-bottom: 1px solid #45C875;
}

.home-gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 30px;
}

.home-gallery-container .home-gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 66.6%;
  position: relative;
}

.home-gallery-container a:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  display: inherit;
}

.testimoni-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  margin: 8rem 0;
}

.testimoni-section .section-title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 4rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.testimoni-section .section-title::after {
  content: "";
  display: block;
  margin: 0;
  width: 50%;
  padding-top: 15px;
  border-bottom: 1px solid #ffffff;
}

.black-opacity {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
}

.w-80 {
  width: 80%;
  margin: 2rem auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.slider-testimoni {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-testimoni > .testimoni {
  margin-right: 32px;
}

.testimoni {
  border: solid 2px #ffffff;
  padding: 2.5rem;
}

.testimoni .head-testimoni {
  font-family: "Montserrat", sans-serif;
  font-size: 1.65rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimoni .content-testimoni {
  margin-bottom: 10px;
}

.testimoni .source-testimoni {
  font-weight: bold;
  text-align: right;
}

.testimoni .source-testimoni::before {
  content: '—';
  color: #ffffff;
}

.box-container .box {
  background-color: rgba(246, 241, 241, 0.69);
  text-align: center;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.box-container .box img {
  width: auto;
  max-height: 80px;
}

.box-container .box .box-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 30% 17px .5em 17px;
}

.box-container .box .box-content {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.36;
  font-weight: 500;
  padding: 0 17px 10px 17px;
}

.home-carousel-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.font-color-primary {
  color: #3e61dc;
}

.font-color-secondary {
  color: #45C875;
}

.vertical--center {
  position: absolute;
  top: 40%;
  right: 50%;
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
}

.product-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.product-container a > div {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  cursor: pointer;
}

.product-container a > div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: absolute;
}

.product-container a > div:hover {
  -webkit-box-shadow: 0 0 10px 0 #777777;
          box-shadow: 0 0 10px 0 #777777;
}

.button-filter-wrapper button {
  margin: 5px 10px;
}

.product-carousel {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
}

.next-btn {
  right: 3px;
}

.prev-btn {
  left: 3px;
}

.product-carousel__container img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 30px 10px -15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 30px 10px -15px rgba(0, 0, 0, 0.25);
}

.tag-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #3e61dc;
  padding-bottom: 5px;
}

.product-name {
  font-size: 32px;
  color: #353535;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.discount {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ea2335;
}

.product-price-before {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--warm-grey);
}

.product-price {
  color: #353535;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.detail {
  margin: 30px 0;
}

.detail__title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
  padding-bottom: 8px;
}

.detail__content {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  color: #353535;
}

.detail__content ul {
  list-style-position: inside;
  color: inherit;
}

.marketplace-link {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: normal;
  color: #828282;
}

.marketplace-link a {
  font-weight: bold;
  color: #45C875;
}

.carousel-container {
  width: 100%;
  max-width: 100vw;
}

.image-heading {
  width: 100%;
  background: #ffffff;
  height: 250px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-heading .image-heading-title {
  text-align: center;
  color: #ffffff;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.compro-section {
  text-align: center;
  max-width: 500px;
}

.compro-section p {
  font-size: 1.3rem;
  margin: 1em 0;
}

.compro-section + .compro-section {
  margin: 6rem auto;
}

.filter-btn {
  width: 100%;
  background: #efefef;
  padding: 40px 0px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.filter-btn-active, .filter-btn:hover {
  background: #3e61dc;
}

.account-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.account-container a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}

.account-container .account {
  background: khaki;
  max-width: 320px;
  height: 50px;
  margin: 8px auto;
  font-weight: bold;
  line-height: 50px;
}

.account-container .account:hover {
  -webkit-box-shadow: 0 0 16px 0 #cecece;
          box-shadow: 0 0 16px 0 #cecece;
}

.account-container .account img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.account-container .account-whatsapp {
  background: #25D366;
}

.account-container .account-facebook {
  background: #4267b2;
}

.account-container .account-instagram {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.account-container .account-linkedin {
  background: #2867B2;
}

.account-container .account-email {
  background: linear-gradient(45deg, #3e61dc 10%, #45C875 80%);
}

.a-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 66.6%;
  position: relative;
  margin-bottom: 13px;
}

.a-title {
  font-weight: bold;
  color: #3e61dc;
  font-size: 16px;
  text-decoration: none;
}

.a-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.a-link {
  font-size: 12px;
  color: #353535;
}

.a-link:hover {
  cursor: pointer;
  color: #45C875;
}

div.a-content {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 54.6px;
  /* Fallback for non-webkit */
  margin: 10px auto;
  font-size: 13px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article {
  max-width: 700px;
  margin: auto;
}

.article__title {
  color: #292929;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 1.36;
  margin-bottom: 5px;
}

.article__subtitle {
  color: #414141;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.article__author, .article__date {
  color: #494949;
  font-family: "Montserrat", sans-serif;
  line-height: 1.59;
}

.article__date {
  margin-bottom: 20px;
}

.article__content {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  color: #414141;
  max-width: 100vw;
}

.article__content ul, .article__content ol {
  list-style-position: inside;
}

.article__content ul {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.article__content ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.article__content a {
  text-decoration: underline;
  color: #3e61dc;
  font-size: inherit;
}

.article__content figure.image {
  text-align: center;
  margin: auto;
}

.article__content figure.image img {
  max-width: 100%;
  height: auto;
}

.article__content figure.image figcaption {
  font-size: 90%;
}

.article__content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}

.article__content figure.table {
  margin: 1em auto;
  width: 100%;
  overflow-x: auto;
}

.article__content table, .article__content th, .article__content td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: .5em;
}

.article__content figure.media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15em;
}

footer {
  background: #414141;
  color: #fff;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  line-height: 1.5;
}

.footer-wrapper {
  padding: 40px 60px;
}

.footer-side--two ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-side--two ul li a {
  text-decoration: none;
  color: inherit;
}

.footer-side--two ul li a:hover {
  text-decoration: underline;
}

.footer-side--two ul li + li {
  margin: 5px 0;
}

.footer-side--three {
  text-align: center;
}

.footer-side .footer-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 16px;
}

.footer-side .footer-title img {
  height: 20px;
}

.footer-side p {
  font-size: 12px;
  font-weight: 500;
}

.footer-contact-container a {
  text-decoration: none;
  color: #ffffff;
}

.footer-contact-container a:hover {
  text-decoration: underline;
}

.footer-contact-container div + div {
  margin: 5px 0;
}

.footer-contact-container img.contact-icon {
  height: 35px;
  width: auto;
}

.header-wrapper {
  padding: 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 0px;
      grid-template-areas: "logo" "link-one";
}

header {
  background: #fff;
  -webkit-box-shadow: 0 0 16px 0 #dadada;
          box-shadow: 0 0 16px 0 #dadada;
  height: 70px;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

header .logo-wrapper {
  line-height: 70px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

header .logo-wrapper img {
  vertical-align: middle;
  height: 25px;
  width: auto;
}

header .link-one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: link-one;
  text-align: right;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul li {
  vertical-align: bottom;
}

header ul li a {
  text-decoration: none;
  color: #3e61dc;
  text-transform: uppercase;
  margin: 0 15px;
  font-size: 12px;
  font-weight: 700;
}

header ul li a:hover, header ul li a:active {
  text-decoration: underline;
}

.mobile-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hamburger {
  position: absolute;
  right: 3rem;
  top: 27px;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: #3e61dc;
}

.hamburger div + div {
  margin: 3.5px 0;
}

.mobile-menu {
  position: absolute;
  top: 70px;
  display: none;
  background: #3e61dc;
  border-radius: 0 0 0px 30px;
}

.mobile-menu ul {
  text-align: right;
  list-style: none;
  padding: 2rem 2rem 2rem 5rem;
  display: block;
  line-height: 1rem;
}

.mobile-menu li {
  padding: 10px 0;
}

.mobile-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}

.mobile-menu li a:hover {
  text-decoration: underline;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.mobile-menu-active {
  display: block;
  right: 0;
  -webkit-transition: 0.3ms ease-in;
  transition: 0.3ms ease-in;
  z-index: 99;
  -webkit-animation: slide-in 0.3s;
          animation: slide-in 0.3s;
}

#header-bar {
  background: #d9d955;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bar;
}

.form-group + .form-group {
  margin: 1rem 0px;
}

input[type=text], input[type=password] {
  width: calc(100% - 20px);
  font-family: "Montserrat", sans-serif;
  height: 42px;
  padding: 0 10px;
  border: none;
  background: rgba(246, 241, 241, 0.69);
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
  background: #ffffff;
  color: #3e61dc;
  width: calc(100% - 22px);
  border: 1px solid #828282;
  height: 40px;
}

.image-container {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 66.6%;
  position: relative;
}

.bg-white {
  background: #efefef;
}

.font-black {
  color: #353535 !important;
}

.font-black::after {
  border-bottom: 1px solid #353535 !important;
}

.detail-content {
  background: #ffffff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #292929;
}

.detail-content .detail-content-title {
  text-transform: uppercase;
  font-weight: bold;
}

.detail-content p + p {
  margin: .5em 0;
}

.accordion {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  background-color: #fcfcfc;
  color: #3e61dc;
  cursor: pointer;
  padding: 15px 30px 15px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
  position: relative;
}

.container-accordion {
  margin-bottom: 15px;
}

.accordion-active, .accordion:hover {
  background-color: #3e61dc;
  color: #fff;
}

.accordion-active::after, .accordion:hover::after {
  color: #fff;
}

.panel {
  padding: 20px 20px;
  display: none;
  overflow: hidden;
  font-size: 12px;
  font-style: "Montserrat", sans-serif;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #353535;
  font-weight: 500;
  line-height: 1.5;
}

.panel-active {
  display: block;
}

.accordion:after {
  content: '+';
  /* Unicode character for "plus" sign (+) */
  font-size: 25px;
  color: #3e61dc;
  font-weight: 500;
  margin-left: 5px;
  position: absolute;
  right: 15px;
  top: 7px;
}

.accordion-active:after {
  content: '-';
  /* Unicode character for "minus" sign (-) */
  color: #fff;
}

@media all and (min-width: 300px) and (max-width: 768px) {
  .web-menu {
    display: none;
  }
}

@media all and (min-width: 300px) and (max-width: 614px) {
  .header-wrapper {
    padding: 0 3rem;
  }
  .logo-wrapper a img {
    max-width: 125px;
    height: auto;
  }
  .banner-right-container {
    text-align: center;
    max-width: 614px;
  }
  .banner-right-container h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 8px;
  }
  .banner-right-container h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .banner-right-container p {
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: auto;
  }
  .banner-right-container .banner-button-container {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  section {
    width: 90%;
  }
  section .section-title {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  section .section-title::after {
    padding-top: 10px;
  }
  section .home-gallery-container {
    grid-gap: 20px;
  }
  section .home-gallery-container a:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
  }
  section .home-gallery-container a:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
  }
  section .home-gallery-container a:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
  }
  section .home-gallery-container a:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
  }
  section .home-gallery-container a:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/span 12;
  }
  .xs-w-90 {
    width: 90%;
  }
  .footer-wrapper {
    text-align: center;
  }
  .footer-wrapper .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 1.3rem;
  }
  .product-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .width--large {
    width: 90%;
  }
  .hamburger {
    display: block;
  }
}
/*# sourceMappingURL=default.css.map */