.product-carousel {
    position: relative;
}

.slider-btn {
    position: absolute;
    top: 50%;
}

.next-btn {
    right: 3px;
}

.prev-btn {
    left: 3px;
}

.product-carousel__container {
    // max-height: 328px;

    img {
        width: 100%;
        height: 100%;
        max-height: 328px;
        box-shadow: 0 30px 10px -15px $black-25;
    }
}

.tag-category {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $dark-slate-blue;
    padding-bottom: 5px;
}

.product-name {
    font-size: 32px;
    color: $black;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.discount {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $pinkish-red;
}

.product-price-before {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--warm-grey);
}

.product-price {
    color: $black;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.detail {
    margin: 30px 0;
}

.detail__title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $warm-grey;
    padding-bottom: 8px;
}

.detail__content {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: $black;

    ul {
        list-style-position: inside;
        color: inherit;
    }
}

.marketplace-link {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: $warm-grey;

    a {
        font-weight: bold;
        color: $dark-grey-blue;
        //text-decoration: none;
    }
}

.carousel-container {
    width: 100%;
    max-width: 100vw;
    //overflow: hidden;
}

// for detail button styling
.detail-grid-container {
    button.btn {
        margin: .8em 0;
        font-weight: bold;
    }
}